
    /*  MEDIAS QUERYS*/
    /* MOBILE */
@media (max-width: 400px) {
    /* header */
    .topo nav{
        display: none;
    }
    .topo .container img{
        display: none;
    }
    /* banner */
    .banner .carrossel{
        display: none;
    }
    .banner img:last-child{
        display: block;
    }
    /* projetos */
    .projetos .container{
        flex-direction: column;
    }
    /* quem somos */
    .quemSomos .container{
        flex-direction: column;
    }
    /* equipe */
    .equipe>div>div{
        flex-direction: column;
        align-items: center;
    }
    /* contato */
    .contato .container{
        flex-direction: column;
        padding-inline: 20px;
    }
    .contato .container div{
        margin: 0 auto;
    }
    .contato .container form{
        max-width: 100vw;
        width: 100%;
    }
    .contato .container form div div input{
        max-width: 340px;
        width: 100%;
    }
    .contato .container form textarea#motivo{
        max-width: 698px;
        width: 100%;
    }
    /* footer */
    footer .container{
        flex-wrap: wrap;
    }
}
